body{
	font-family:Helvetica,Arial,sans-serif;
	padding:0;
	margin:0;
}
#hero{
	display:relative;
}
header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.8);

}
.nav{
	height:55px;
	transition:0.4s all ease-in-out;
	position:relative;
}
.menu{
	transition:0.5s all ease-in-out;
	height:100vh !important;
}
ul.nav-menu{
	margin:auto;
	padding:0;
	padding-left:50px;
	li{
		padding:0;
		margin:0 0 10px 0;
		list-style-type:none;
		text-align:center;
		a{
			visibility:hidden;
			font-size:18px;
			letter-spacing:20px;
			text-decoration:none;
			color:#fff;
			text-transform:uppercase;
			transition:1s all ease-in-out;
		}

	}
}

.pd-logo{
	width:40px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-20px 0 0 -20px;
}

.pd-logo2{
	width:40px;
}
.not-local{
	position:absolute;
	width:80px;
	top: 9px;
	left:9px;

	
}
.hamburger-nav-wrapper{
	position:absolute;right:14px;top:14px;
}
.hero-image{
	 // background: url('../img/hero-img.jpg');
	 background-position:center center;
	 background-size: cover; 
	 background-repeat:no-repeat;
	 width:100vw;
	 height:100vh;
}
#center-logo{
	display:flex;
}
#hero-img-1{
	background-image: url('../img/hero-img.jpg');
}
#hero-img-2{
	background-image: url('../img/IMG_6767.jpg');
}
#hero-img-3{
	background-image: url('../img/img_0221-11.jpg');
}
#hero-img-4{
	background-image: url('../img/IMG_3723.jpg');
}
#hero-img-5{
	background-image: url('../img/IMG_3818.jpg');
}
#hero-img-6{
	background-image: url('../img/IMG_5955.jpg');
}
#hero-img-7{
	background-image: url('../img/IMG_0916.jpg');
}
#menu h1{
	color:white;
	font-size:26px;
	font-family:'Helvetica';
	text-align:center;
}
.fade{
	animation-name:fade;
	animation-duration:2.5s;
	-webkit-animation-name:fade;
	-webkit-animation-duration:2.5s;
}
@-webkit-keyframes fade{
	from{opacity:0.1}
	to{opacity:1}
}
@keyframes fade{
	from{opacity:0.1}
	to{opacity:1}
}

@media only screen and (min-width: 40.063em){
nav {
    max-width: 73.125rem;
    margin: 0 auto;
    margin-bottom: 0;
}
}